.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    @media screen and (max-width: 800px){
        width: 90vw;
        margin-bottom: 40px;

        .buttons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            text-align: center;
        }
    }

}